// layout.jade
doctype html
html(lang="en")
  head
    title= title
    meta(name="viewport", content="width-device-width", initial-scale="1")
    link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/lib/font-awesome/css/font-awesome.min.css", type="text/css")
    each css in assets.main.css
      link(rel="stylesheet", href=css, type="text/css")
    block css
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto', type='text/css')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto+Slab', type='text/css')
    each js in assets.main.js
      script(type="text/javascript", src=js)
    block js
  body

    include ./header.jade
    block body
    include ./feedback.jade
    </div></div></div>
    include ./footer.jade